
aside, article, footer{
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

header {
	color: black;
	background-color: #1a202b;
	width: 100%;
	height: auto;
	text-align: center;
	float: left;
	font-family: 'Abel', sans-serif;
}

#container {
	font-family: helvetica;

	width: 960px;
	height: 500px;
	margin: 0 auto;

}

body{
	text-align: center;
	background-color: white;
	
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

aside {
 	background-color: yellow;
 	clear:left;
 	width: calc(100% - 30px);
	text-align: center;
}
h1 {
	font-family: 'Abel', sans-serif;
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 15px;
	}
	
article {
	background-color:#e6f2ff;
	width: calc(100% - 30px);
	height: auto;
	font-family: 'Abel', sans-serif;
	font-size: 2vw;
	text-align: center;
}

footer {
  text-align: center;
  font-family: 'Abel', sans-serif;
  background-color: #1a202b;
  color: white;
  margin-bottom: 0;
  overflow: hidden;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
}

@media screen and (max-width: 960px) {
	#container {
	width: 100%;
	}
	
}
.container2 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*To get rid of white space below image*/
img{
 vertical-align: top;   
}