
aside, article, footer{
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

header {
	color: black;
	background-color: black;
	width: 100%;
	height: auto;
	text-align: center;
	float: left;
}

#container {
	font-family: helvetica;
	background-color: #ffffff;
	width: 960px;
	height: 500px;
	margin: 0 auto;

}

aside {
 	background-color: yellow;
 	clear:left;
 	width: calc(100% - 30px);
	text-align: center;
}
h1 {
	font-family: 'Abel', sans-serif;
	font-size: 4vw;
	font-weight: normal;
	}
	
article {
	background-color:#e6f2ff;
	width: calc(100% - 30px);
	height: auto;
	font-family: 'Abel', sans-serif;
	font-size: 2vw;
	text-align: center;
}

footer{
	background-color: #b3d9ff;
	width: 100%;
	width: calc(100% - 30px);
	text-align: center;
	font-size: 12px;
}

@media screen and (max-width: 960px) {
	#container {
	width: 100%;
	}
	
}
.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*To get rid of white space below image*/
img{
 vertical-align: top;   
}